 <header class="container-fluid wrap">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 wrap__item wrap__item_logo wrap__item_auth ">
                <a href="index.html" class="logo"><img src="./../../../assets/img/Sellit.png" alt="Sell It"></a>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 wrap__item wrap__item_auth ">
                <div class='search'>
                    <img src="./../../../assets/img/fa-search.png" class="search__button"  alt="">
                    <input type="text" class='input' placeholder="Try to find something">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user wrap__item_auth ">
                <div class='user-block user-block_nohover'>
                    <img src="./../../../assets/img/userPhoto.png" alt="" class='user-block__photo'>
                    <p class='user-block__name'>Kim Evans</p>
                    <a href="#" class='user-block__logout'><img src="./../../../assets/img/fa-sign-out.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>