@import '../../../styles/_variables';

.logo {
  position: relative;
  width: 115px;
  height: 45px;
  top: 10px;
  margin: 0 auto;
}

.search {
  width: 100%;
  margin: 0 auto;
}

.input {
  width: 80%;
  margin: 6px auto;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #00b3be;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #00b3be));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background-position: -200px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #005358; }
  .input:focus, .input:valid {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #00b3be;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-indent: 20px;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important; 
}

.input_form {
  color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #f2f2f2));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%); }
  .input_form:focus, .input_form:valid {
    color: #f2f2f2;
    text-indent: 0; }
    .input_form:focus::-webkit-input-placeholder, .input_form:valid::-webkit-input-placeholder {
      color: #f2f2f2;
      text-indent: 0;
      -webkit-transform: translateY(2px);
              transform: translateY(2px); 
}
.search__button {
  position: relative;
  top: 17px;
  left: 10%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.user-block{
    position: relative;
    box-sizing: border-box;
    height: 60px;
    min-width: 300px;
    max-width: 380px;
    background-color: $color;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    &:hover{
        border-left: 4px solid $boldcolor;       
        }
}


.user-block_nohover{
    &:hover{
        border-left: none;
    }
}         

.user-block_dropdown {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  width: calc(100% + 4px);
  min-width: 300px;
  max-width: 380px;
  background-color: #00b3be;
  top: 60px;
  right: 0;
  height: 40px;
  justify-content: space-around;
  opacity: 0;
}

.user-block:hover .user-block_dropdown {
  opacity: 1;
}

.user-block__photo {
  height: 40px;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.user-block__name {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #eaf6f7;
  margin: 20px 0;
}

.user-block__name_drop {
  margin: 0;
  font-weight: normal;
  border-left: 4px solid #4a4a4a;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.user-block__logout {
  margin: auto 0;
  margin-left: auto;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}

@media only screen and (max-width: 768px){
  .user-block_dropdown{
    min-width: calc(100% + 4px);
  }

  .user-block{
    min-width: 100% !important;
  }
}