<app-header></app-header>
<section class="container-fluid wrap">
        <div class="row">
            <div class="col-md-4 col-sm-12 offset-md-2 wrap__item_image slider">
                <div class="slider__item">
                     <img src="./../../assets/img/sliderImg.png" class='content__image' alt="">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wrap__item wrap__item_content">
                <div class='content'>
                    <h2>Some title text must be here
                        maybe second line
                    </h2>
                    <p class='content__item content__item_bold'>from <span class="content__item_maincolor">
                        Alis Kim</span> <span class='content__item_green'>18000$</span>
                    </p>
                    <p class='content__item'>
                        Some description text from WYSIWYG editer
                    </p>
                    <p class='content__item'>
                        Can be <span class='content__item_bold'>Bold</span> <span class='content__item_italic'>Italic</span>
                    </p>
                    <p class='content__item content__item_bold'>Can have list:
                    </p>
                    <ul class='content__item content__item_list'>
                        <li class='content__item_bold'> first</li>
                        <li class='content__item_bold'> second</li>
                    </ul>
                    <p class='content__item'> And anything from WYSIWYG editer</p>
                    <div class='content__item'>
                        <p class='content__item_bold'>Some line</p>
                        <p>Some line</p>
                        <p>Some line</p>
                    </div>
                    <p class='content__item content__item_bold'>
                        Finished on this line
                    </p>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>