@import '../../styles/_variables.scss';

.content__image{
    width: 100%;
    height: 100%;
}

.arrow-wrap{
    position: absolute;
    height: 100%;
    width: 45px;
    right: 15px;
    top: 0;
    background-color: #fff;
    opacity: 0.5;
}

.arrow{
    position: relative;
    top: 45%;
    right: -12px;
}
.content{
    margin-bottom: 60px;
}     

.content__item{
    font-size: 16px;
    font-style: normal;
    color: $boldcolor;
    margin-bottom: 1em;
}
.content__item_bold{
    font-weight: bold;
}
.content__item_italic{
    font-style: italic;    
}
.content__item_maincolor{
    @extend .content__item_bold;
    color: $color;
}
.content__item_green{
    @extend .content__item_bold;
    color: $green;
    font-size: 32px;
    margin-left: 15px;
}
.content__item_list{
    margin-top: -15px;
    list-style-type: none;         
}
.content__item_list > li{
    text-indent: -10px;
}
.content__item_list > li:before{
    content: '-';
    text-indent: -10px;
}
.content__item > p{
    margin-bottom: 0
}