<div role="tabpanel" class="tab-pane">
    <form action="" class="authform">
        <input type="text" class='input input_form' placeholder="Enter Login">
        <input type="password" class='input input_form' placeholder="Enter Password">
        <input type="password" class='input input_form' placeholder="Confirm Password">
        <button type="submit" class="authform__submit">Register</button> 
    </form>
</div>