@import '../../../styles/_variables';

.logo {
  position: relative;
  width: 115px;
  height: 45px;
  top: 10px;
  margin: 0 auto;
}

.search {
  width: 100%;
  margin: 0 auto;
}

.search__button {
  position: relative;
  top: 17px;
  left: 10%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.user-block{
    position: relative;
    box-sizing: border-box;
    height: 60px;
    min-width: 300px;
    max-width: 380px;
    background-color: $color;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    &:hover{
        border-left: 4px solid $boldcolor;       
        }
}


.user-block_nohover{
    &:hover{
        border-left: none;
    }
}         

.user-block_dropdown {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  width: calc(100% + 4px);
  min-width: 300px;
  max-width: 380px;
  background-color: #00b3be;
  top: 60px;
  right: 0;
  height: 40px;
  justify-content: space-around;
  opacity: 0;
}

.user-block:hover .user-block_dropdown {
  opacity: 1;
}

.user-block__photo {
  height: 40px;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.user-block__name {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #eaf6f7;
  margin: 20px 0;
}

.user-block__name_drop {
  margin: 0;
  font-weight: normal;
  border-left: 4px solid #4a4a4a;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.user-block__logout {
  margin: auto 0;
  margin-left: auto;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}

@media only screen and (max-width: 575px){
  .logo{
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px){
  .search__input{
    width: 70%;
  }
  .user-block{
    min-width: 100% !important;
  }
  .user-block_dropdown{
    min-width: calc(100% + 4px);
  }
  .userauth{
    margin-top: -10px;
    min-width: 100% !important;
  }

  .search__button{
    left: 10%;
  }
  
  .tabs__item{
    width: 100px;
  }
}