@media only screen and (max-width: 768px){

  .loginpage{
    background: none;
  }

  .wrap{
    margin-left: 0;
  }
  .wrap__item{
    height: 70px;
  }
  .wrap__item_image{
    margin-top: 50px;
    height: calc(100vw);
  }
  .wrap_products{
    margin-right: 0;
  }
  .search__input{
    width: 70%;
  }
  .search__button{
    left: 15%;
  }
  .user-block{
    min-width: 100% !important;
  }
  .user-block_dropdown{
    min-width: calc(100% + 4px);
  }
  .userauth{
    margin-top: -10px;
    min-width: 100%;
  }
  .product-details{
    margin: 20px 0;
  }
  .product-item{
    height: 350px;
  }
  .search__button{
    left: 10%;
  }
}
@media only screen and (max-width: 575px){
  .logo{
    margin: 0 auto;
  }
}