@import 'variables';
// @import 'media.scss';

// .navblock {
//   height: 150px;
// }

.wrap {
  margin-left: 50px;
}

.wrap_products {
  margin-right: 50px;
  margin-bottom: 80px;
}

.wrap__item {
  height: 150px;
  padding: 0;
}

.wrap__item_auth {
  height: 60px;
}

.wrap__item_user {
  position: relative;
}

.wrap__item_content {
  height: 600px;
}

.wrap__item_image {
  height: calc(100vw * 0.31);
}

.wrap__item_logo {
  display: flex;
}

@media only screen and (max-width: 768px){
  .wrap{
    margin-left: 0;
  }
  .wrap__item{
    height: 70px;
  }
  .wrap__item_image{
    margin-top: 50px;
    height: calc(100vw);
  }
  .wrap_products{
    margin-right: 0;
  }
}

.input {
  width: 80%;
  margin: 6px auto;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #00b3be;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #00b3be));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background-position: -200px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #005358; }
  .input:focus, .input:valid {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #00b3be;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-indent: 20px;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important; 
}

.input_form {
  color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #f2f2f2));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%); }
  .input_form:focus, .input_form:valid {
    color: #f2f2f2;
    text-indent: 0; }
    .input_form:focus::-webkit-input-placeholder, .input_form:valid::-webkit-input-placeholder {
      color: #f2f2f2;
      text-indent: 0;
      -webkit-transform: translateY(2px);
              transform: translateY(2px); 
}

