@import '../../../styles/_variables.scss';

.product{
    justify-content: space-around;
    margin: 20px 0;
}


.product__item{
    padding: 0 10px;
    height: 250px;
    margin: 10px 0;
}

.product-details__image{
    width: 100%;
    height: 200px;
}

.product-details__image:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 72.2, 74.5, 0.2), 0 6px 20px 0 rgba(0, 72.2, 74.5, 0.19);
}

@for $i from 1 through 4{
    .product-details__image_#{$i}{
        background: url('./../../../assets/img/picture#{$i}.png') no-repeat;
        background-size: cover !important;
        background-position: center center !important;
    }
}



.product-details__panel{
    background-color: $color;
    width: 100%;
    height: 50px;
    display: flex;
    a{
        height: 30px;
        margin: auto 0;
        margin-right: 12px;
        margin-left: auto;
        cursor: pointer;
    }
    p{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #eaf6f7;
        margin: 20px 0;    
        margin: auto 15px;
    }
}

@media only screen and (max-width: 768px){
.product-details{
    margin: 20px 0;
  }
  .product-item{
    height: 350px;
  }
}