        <div class='row product'>
            <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_1"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./../../../assets/img/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_2"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./../../../assets/img/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_3"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./../../../assets/img/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_4"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./../../../assets/img/fa-eye.png" alt=""></a>
                </div>
            </div>
        </div>