@import '../../styles/_variables.scss';

.loginpage{
    background: url('./../../assets/img/login-right-section-image.png') no-repeat;
    background-size: calc(100% - 360px) calc(100vh - 60px);
    height: 100%;
}

.userauth{
    height: calc(100vh - 60px);
    background-color: $color;
    min-width: 300px;
    max-width: 380px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.userauth__logo{
    width: 198px;
    height: 69px;
    margin: 30px auto 0;
}

.tabs{
    border-bottom: none;
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.tabs__item{
    width: 150px;
    height: 35px;
    color: black;
    background-color: #f2f2f2;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    text-align: center;
    line-height: 15px;
}
.nav-item > .active{
    border-bottom: 5px solid #91d763 !important;
}

.authform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.authform__submit{
    width: 150px;  
    height: 35px;
    font-size: 14px;
    background-color: #f2f2f2;
    margin: 0 auto;
    &:hover{
        height: 40px;
        border-bottom: 5px solid #91d763;
    }
}

@media only screen and (max-width: 768px){

  .loginpage{
    background: none;
  }
  .search__input{
    width: 70%;
  }

  .userauth{
    margin-top: -10px;
    min-width: 100%;
  }

  .search__button{
    left: 10%;
  }

  .nav-item{
    width: 100px;
  }

  .tabs__item{
      width: 100px;
  }
}