<div class='loginpage'>
    <auth-header></auth-header>
    <section class="container-fluid wrap">
            <div class='row'>
                <div class='offset-md-6 col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user'>
                    <div class="userauth">
                        <img class='userauth__logo' src="./../../assets/img/Sellit_white.png" alt="">
                        <ul class="nav nav-tabs tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link tabs__item" href="#" role="tab" id='signin' [class.active]='signIn' (click)='changeTab($event.target)'>Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs__item" href="#" role="tab" id='signup' [class.active]='signUp' (click)='changeTab($event.target)'>Sign Up</a>
                            </li>
                        </ul>
                            <!-- Tab panes -->
                        <div>
                            <sign-in *ngIf='signIn'></sign-in>
                            <sign-up *ngIf='signUp'></sign-up>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <app-footer></app-footer>
</div>