<div role="tabpanel" class="tab-pane active show">
    <form action="" class="authform">
        <input type="text" class='input input_form' placeholder="Login">
        <input type="password" class='input input_form' placeholder="Password">
        <button type="submit" class="authform__submit">Login</button> 
    </form>
</div>