@import '../../../styles/_variables';

.footer{
  margin-top: 20px;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $color;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
